<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAN5PzWUZTgZb_ME_Tvk74O-H68Z8dfkoI</string>
	<key>GCM_SENDER_ID</key>
	<string>805003199628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CalmPath-App</string>
	<key>PROJECT_ID</key>
	<string>calmpath-90532</string>
	<key>STORAGE_BUCKET</key>
	<string>calmpath-90532.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805003199628:ios:8a553a7c39627f508527a9</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gilroy-Bold.ttf</string>
	</array>
</dict>
</plist>